/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  color: #2c3e50;
  visibility:hidden;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#myCarousel{
	height:800px;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  height: 800px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 800px;
  
}

.carousel .item {
  height: 800px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 800px;
}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */



.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.information{
	width:100%;
}

.loader {
	visibility:visible;
	width: 100%;
	height: 100%;
	z-index: 9999;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.loader ul{
    width:  70%;
	height:100%;
   margin:0 auto;
}


.container {
  color: #333;
}


.loader li {
  display: inline-block;
  font-size: 1.5em;
  padding-right: 2em;
  list-style-type: none;
  text-transform: uppercase;
  margin:0 auto;
  
  
}

.loader li span {
 vertical-align: middle;
  display: block;
  font-size: 4.5rem;
  text-align: center;
}





/* Social Media Icons CSS */
#contact-bar {
  background-color: #2f3640;
  margin-bottom:-10px;
  height:80px;
  
  
  
}

#contact-bar a {
  color: white;
  text-decoration: none;
}

#contact-bar ul{
	padding-top:10px;
}
#contact-bar ul li{
  padding:20px;
  display:inline;
  font-size: 200%;
}

#contact-bar ul li:hover{
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}

#social-fb:hover {
  color: #3B5998;
}

 #social-yt:hover {
  color: #e74c3c;
}

 #social-ins:hover {
  color: #c0392b;
}

#social-em:hover {
  color: #f39c12;
}

.fa:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.fa{
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}




/*Team CSS */


/* Custom Arrow */
.prev{
	color: #999;
	position: absolute;
	top: 38%;
	left: -2em;
	font-size: 1.5em;
		:hover{
			cursor: pointer;
			color: black;
		}
}
.next{
	color: #999;
	position: absolute;
	top: 38%;
	right: -2em;
	font-size: 1.5em;
	:hover{
			cursor: pointer;
			color: black;
		}
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}






/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



